@model Quotation

@{
    ViewBag.Title = "Price Quotation";
}

<form asp-action="Index" method="post">
    <div class="row mb-3">
        <label asp-for="Subtotal" class="col-md-4 col-form-label">Subtotal:</label>
        <div class="col-md-4">
            <input asp-for="Subtotal" class="form-control"/>
        </div>
        <span asp-validation-for="Subtotal" class="col text-danger"></span>
    </div>
    <div class="row mb-4">
        <label asp-for="DiscountPercent" class="col-md-4 col-form-label">Discount percent:</label>
        <div class="col-md-4">
            <input asp-for="DiscountPercent" class="form-control"/>
        </div>
        <span asp-validation-for="DiscountPercent" class="col text-danger"></span>
    </div>
    <div class="row mb-4">
        <label class="col-md-4 col-form-label">Discount amount:</label>
        <label class="col-md-4">@ViewBag.Discount.ToString("c2")</label>
    </div>
    <div class="row mb-4">
        <label class="col-md-4 col-form-label">Total:</label>
        <label class="col-md-4">@ViewBag.Total.ToString("c2")</label>
    </div>
    <div class="row">
        <div class="col offset-md-4">
            <button type="submit" class="btn btn-success">Calculate</button>
            <a asp-action="Index" class="btn btn-success">Clear</a>
        </div>
    </div>
</form>
