<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <h1>Price Quotation</h1>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>